<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <form action="/hangman" method="post" class="form-example">
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Choose a letter" aria-label="Choose a letter" aria-describedby="basic-addon1">
          </div>
        <div class="form-example">
            <button type="submit" class="btn btn-outline-primary">Envoyer</button>
        </div>
      </form>
    
</body>
</html>